<div id="pageContent">
    <div class="stagnant-bg">
    <div class="bg">
        <logo id="pro-logo-right">
    <img src="/images/company-logo.png" alt="Skriptz logo">
</logo>
        </div>
        </div>
    {{#each userInfo.subscriptions as |subscription|}}
    <div class="card my-2">
        <div class="card-header h2 ">
            {{subscription.category.category_name}}
        </div>
        <div class="card-body d-flex justify-content-around align-items-center">
            <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item random my-2 h2 fw-bold ">{{subscription.name}}</li>
                    <button type="button" class="btn btn3 btn-outline-danger removeBTN" data-subscription={{subscription.id}}>Remove</button>
                </ul>
            </div>
            <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item random fw-bold">Price</li>
                    <li class="list-group-item random">${{subscription.price}}</li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item fw-bold">Due Date</li>
                    <li class="list-group-item">{{addSuffix subscription.due_day}}</li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item fw-bold">Username</li>
                    <li class="list-group-item">{{subscription.subscription_username}}</li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item fw-bold">Password Hint</li>
                    <li class="list-group-item">{{subscription.password_hint}}</li>
                </ul>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<script src="/js/currentservice.js"></script>